// This is an example file.
footer {
  position: relative;
  width: 100%;
  h1, .h1 {
    // @include font-size(h4);
  }
}
.thank-you svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: $based-spacing * 4;
  left: 0;
  z-index: 3;
}
