// Base application styles
@include sans-font;
@include root;

body {
  @include sans-font;
  margin: 0;
  color: $color-primary;
  line-height: $line-height;
  background: $color-black;
}

body.red-text {
  color: $color-red;
  a {
    color: $color-red;
  }
}

.blue-bg {

  .main-container {
    background: $color-blue;
    .project {
      background: $color-blue;
    }
  }
}

.black-bg {
  color: white;
  a {
    color: white;
  }
  .main-container {
    background: $color-black;
    .project {
      background: black;
    }
  }
}

.blue-text {
  color: $color-blue;
  a {
    color: $color-blue
  }
}

.green-text {
  color: $color-green;
  a {
    color: $color-green
  }
}


.main-container {
  background: #F6F4F4;
}

blockquote,
pre,
table,
ul,
ol,
dl {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

ol,
ul {
  list-style: initial;
}

a {
  color: $color-gray;
  text-decoration: none;

  &:hover {
    // color: $color-black;
    text-decoration: underline;
  }
}

b,
strong {
  @include sans-bold-font;
}

hr {
  border: none;
  border-bottom: 1px solid $color-secondary;
}
